# Ignore unimportant IP Project files.
ip_repo/ip_projects/**/geralds*cache
ip_repo/ip_projects/**/geralds*runs
ip_repo/ip_projects/**/geralds*sim

# Ignore unimportant vivaldo files.
*cache
*runs
*sim
*tmp
*hw
*ip_user_files

# Ignore Vivado tracking files.
*log
*jou
.Xil
vivado*

# Ignore swaps and tmps.
*.swp
*.tmp

# executables
*.o
*.d
*.pyc

*metadata*
